@charset "UTF-8";

/* Importação de fontes externas */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&display=swap');

/* Fonte local */
@font-face { 
    font-family: 'Android'; 
    src: url('../fontes/idroid.otf') format('opentype'); 
    font-weight: normal; 
}

/* Variáveis */
:root { 
    --cor0: #C5EBD6; 
    --cor1: #83e1ad; 
    --cor2: #3ddc84; 
    --cor3: #2fa866; 
    --cor4: #1a5c37; 
    --cor5: #063d1e; 

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif; 
    --fonte-destaque: 'Bebas Neue', cursive; 
    --fonte-android: 'Android', cursive; 
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
}

/* Corpo */
body { 
    background-color: var(--cor0); 
    font-family: var(--fonte-padrao); 
}

/* Cabeçalho */
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    padding-top: 20px;
    min-height: 150px;
    text-align: center;
    margin:20px;
}

header > h1 { 
    color: white; 
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 10px;
    text-shadow:2px 2px 0px black;
    font-weight:normal;
}

header > p {
    color: white;
    font-size: 1.2em;
    text-shadow:2px 2px 0px black;
    padding-bottom:15px;
}
header > p:hover {transform: translateX(4px);}

/* Conteúdo principal */
main {
    min-width: 300px; 
    max-width: 1000px; 
    background-color: white; 
    margin: auto; 
    padding: 20px;
}

/* Títulos */
main h1 { 
    color: var(--cor5); 
    font-family: var(--fonte-android);
    font-weight:normal; 
}

main h2 {
    color: var(--cor4);
    font-family: var(--fonte-android);
    margin-top: 20px;
    font-size:1.3em;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    font-weight:normal;
}

main img {
    width: 100%;
}

main article img.Bugdroid {
    width: 50%;
    display: block;
    margin: auto;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent:30px;
    font-size:1em; 
    line-height: 2em;
}

main strong {
    color:var(--cor4);
    font-weight:bolder;
}

main a {
    text-decoration:none;
    color:var(--cor4);
    background-color:var(--cor1);
}

/* Vídeo */
div.video {
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding:20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%
}

/* Navegação */
nav {
    background-color: var(--cor5);
    padding:10px;
    box-shadow: 0px 2px 3px black;
    text-align:left;
    font-weight: bold;
}

nav > a {
    color:white; 
    padding:10px; 
    text-decoration:none;
    border-radius:5px;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color:var(--cor3); 
    color:var(--cor5);
}

/* Links dentro do conteúdo */
main a:hover {
    text-decoration:underline;
    color:var(--cor5); 
    background-color:var(--cor2);
}

/* Aside */
aside {
    background-color:var(--cor1); 
    border-radius:10px; 
    padding:10px;
    box-shadow: 3px 3px 8px black;
}

aside > h3 {
    background-color: var(--cor4);
    padding:5px; 
    margin:-10px -10px 0px -10px;
    border-radius:10px 10px 0px 0px;
}

aside > ul {
    list-style-position:inside;
    columns:2;
}

/* Rodapé */
footer {
    background-color:var(--cor4);
    color:white;
    text-align:center;
    font-size:0.8em; 
    padding:5px;
}

footer a {
    color:white;
    text-decoration:none
}

footer a:hover {
    color:var(--cor1);
    text-decoration:underline;
    font-weight:bolder;
}
