@charset "Utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&display=swap');

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: normal;
  font-style: normal;
}
* {margin:0px;
padding:0px}

:root {
--cor01:#05F2F2;
--cor02:#05DBF2;
--cor03:#0A58BF;
--cor04:#084F8C;
--cor04: #073359;

--font padrao: Arial, verdana, sans-serif;
--font destaque: 'bebas neue', cursive;
--font tecnologica: 'Audiowide'
}

body {background: var(--cor01);}


header {background-color:var(--cor03);
box-shadow: 3px 3px 6px black;
padding: 20px 10px 0px 10px
}

header h1 {
color:white; 
font-size:3em;
text-align:center;}